{
  "name": "{{PACKAGE_NAME}}",
  "version": "{{VERSION}}",
  "description": "WAFtester binary for {{PLATFORM_LABEL}}",
  "license": "BUSL-1.1",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/waftester/waftester.git"
  },
  "os": [
    "{{OS}}"
  ],
  "cpu": [
    "{{CPU}}"
  ],
  "publishConfig": {
    "access": "public",
    "provenance": true
  },
  "files": [
    "bin/"
  ],
  "preferUnplugged": true
}
